body {
  background-color: #DDECEF;
}

th, td {
  padding: 7px 7px 7px 7px;
  text-align: center;
  border: solid 2px;
  border-collapse: collapse;

}

html, body {
    width: 100%;
}
table {
    margin: 0 auto;
    width: 80%;
    border: solid;
    border-collapse: collapse;
    padding: 0;

}

th {
    background-color: #488a99;
    color: white;
}

tr:nth-child(even) {background-color: #dbae58};
tr:hover {
  background-color: pink !important;}
